.headerbild {
    max-width: 100%;
    height: auto;
    padding-top:20px;
    padding-bottom:20px;
  }

body {
  background: #f3f3f3;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #484848;
  }

  #heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
  #inputSentence{
    color: #484848;

  }

  .card-title {
    font-size: 48;
    text-align: center;
  }

  #quizbild{
    max-width: 90%;
    max-height: auto;
    margin-top:30%;
    margin-right: 15%;
    margin-bottom: 5%;
  }  
  #keyboardpng{
    max-width: 220%;
    height: auto;
    margin-top: 60%;
  }


  .card {
    background-color: #81B3FF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 116px;
    padding: 25px 35px 40px 35px;
  }

  .card-body {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 98px;
  }
 
  .form-control {
    background: rgba(196, 196, 196, 0.5);
    mix-blend-mode: multiply;
    border-radius: 40px;
    text-align: center;
  }

  
  .form-control:focus {
    background: rgba(196, 196, 196, 0.33);
    mix-blend-mode: multiply;
  }
  
  #dreieck {
    position: fixed;
    top: 45%;
    left: 65%;
      /* PROBLEM: Muss auf andere Art positioniert werden, da es sich sonst in die Box verschiebt */
  
  }
  
  #dreieck:hover {
    fill: #456fad;
  }
  
  a {
    color: whitesmoke;
    font-style: italic;
  }

  #info{
    margin: 2rem;
    float: left;
}
.footer{
  color: #484848;
}

.graubox{
  background: rgba(196, 196, 196, 0.5);
  mix-blend-mode: multiply;
  border-radius: 40px;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
}

.popover {
  white-space: pre-wrap;    
}


/* HIER STARTET DER CSS TEIL FUER DAS DRAG & DROP QUIZ */
#dragScriptContainer{	/* BIG DIV containing HTML needed for the entire script */
  width:50em;
  margin:0 auto;
  border:1px solid #000;
  height:400px;
  margin-top:20px;
  padding:3px;
  -moz-user-select:no;
}

#questionDiv{	/* Big div for all the questions */
  float:right;
  height:100%;
  width:15rem;
  border:1px solid #000;
  padding:2px;
}

#answerDiv{	/* Big div for all the answers */
  float:left;
  height:100%;
  width:15rem;
  border:1px solid #000;
  padding:2px;	
}

#answerDiv div,#dragContent div{	/* General rules for small divs - i.e. specific questions and answers */
  width:15rem;
  height:20px;
  line-height:20px;		
  float:left;
  margin-right:2px;
  margin-bottom:2px;
  text-align:center;
}

#questionDiv div{
  width:15rem;
  height:20px;
  line-height:20px;		
  float:left;
  margin-right:2px;
  margin-bottom:2px;
  text-align:center;
}

#dragContent div{	/* Drag content div - i.e. specific answers when they are beeing dragged */
  border:1px solid #000;
}

#answerDiv .dragDropSmallBox{	/* Small answer divs */
  border:1px solid #000;
  cursor:pointer;
}

#questionDiv .dragDropSmallBox{	/* Small answer divs */
  border:1px solid #000;
  cursor:pointer;
  background-color:#E2EBED; /* Light blue background color */
}

#questionDiv div div{	/* DIV after it has been dragged from right to left box */
  margin:0px;
  border:0px;
  padding:0px;
  background-color:#FFF;
}

#questionDiv .destinationBox{	/* Small empty boxes for the questions - i.e. where answers could be dragged */
  border:0px;
  background-color:#DDD;
  width:15rem;
  height:22px;
}

#questionDiv .correctAnswer{	/* CSS indicating correct answer */
  background-color:green;
  color:#fff;
  border:1px solid #000;
}

#questionDiv .wrongAnswer{	/* CSS indicating wrong answer */
  background-color:red;
  color:#fff;
  border:1px solid #000;
}

#dragContent div{
  background-color:#FFF;
}

#questionDiv .dragContentOver{	/* Mouse over question boxes - i.e. indicating where dragged element will be appended if mouse button is relased */
  border:1px solid #F00;
}

#answerDiv.dragContentOver{	/* Mouse over answer box - i.e. indicating where dragged element will be appended if mouse button is relased */
  border:1px solid #F00;
}

/* NEVER CHANGE THIS */
#dragContent{
  position:absolute;
  display:none;
}	
