.headerbild {
  width: 100%;
  max-width: 4000px;
  height: auto;
  padding-top:20px;
  padding-bottom:20px;
}

  *{
    font-family: 'Roboto', sans-serif;
    color: #484848;
  }
  
  a{
    font-family: 'Roboto', sans-serif;
    color: #484848;
  }

body {
  background: #f3f3f3;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #484848;
  }

  #heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
 
  #inputSentence{
    color: #484848;

  }


  .card-title {
    font-size: 48;
    text-align: center;
  }

  #quizbild{
    max-width: 90%;
    max-height: auto;
    margin-top:10%;
    margin-right: 5%;
    margin-bottom: 5%;
  }  
  @media only screen and (min-width:721px){
    #keyboardpng{
    max-width: 150%;
    height: auto;
   
  } 
}
@media only screen and (max-width: 721px){
  #keyboardpng{
    max-width: 75%;
    min-width: 75%;
    height:auto;
    padding-top:0%;
    margin-top:0%;
    padding-left: 20%;
    
  }
}


  .card {
    background-color: #81B3FF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 116px;
    padding: 25px 35px 40px 35px;
  }

  .card-body {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 98px;
  }
 
  .form-control {
    background: rgba(196, 196, 196, 0.5);
    mix-blend-mode: multiply;
    border-radius: 40px;
    text-align: center;
  }

  
  .form-control:focus {
    background: rgba(196, 196, 196, 0.33);
    mix-blend-mode: multiply;
  }
  
  #dreieck {
    position: fixed;
    top: 45%;
    left: 65%;
      /* PROBLEM: Muss auf andere Art positioniert werden, da es sich sonst in die Box verschiebt */
  
  }
  
  #dreieck:hover {
    fill: #456fad;
  }
  
.footerbar {
    color: whitesmoke;
    font-style: italic;
  }

  #info{
    margin: 2rem;
    float: left;
}
.footer{
  color: #484848;
}

.graubox{
  background: rgba(196, 196, 196, 0.5);
  mix-blend-mode: multiply;
  border-radius: 40px;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
}

.popover {
  white-space: pre-wrap;    
}

.case {
  display: none;
  margin-top: 0.7em;
  margin-right: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;

  background-color: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 98px;
}

#casesheader{

  display: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#casestext{
display: none;
}

#gobacklink{
  font-family: 'Roboto', sans-serif;
  color: #628bc8;
}