*{
  font-family: 'Roboto', sans-serif;
  color: #484848;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #484848;
  }

  span a {
    color: whitesmoke;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
     }



.footer{
  color: #484848;
}


.popover {
  white-space: pre-wrap;    
}

hr{
  height:4px;
  border-width:0;
  background-color:rgb(98, 139, 200, 0.7);
}

.resetknopf{
  margin-left: 5.5em;
}

.extraInfo{	/* Extra info div*/
  width:50em;
  margin:0 auto;
  border:0px solid #000; /*Um zu sehen mache border auf 1px*/
  margin-top:0px;
  padding:1em;
  background:rgb(248, 245, 239, 0.9);
  border-radius: 1em;
 
}

.weiss{
  background-color: #fff;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
}

#keinrandrechts{  
  margin-right: 0;    /* Hatte davor seite zu breit gemacht so dass nach links und rechts gescrollt werden konnte */
  margin-bottom: 2em; /* damit abstand unten zur extra info box */
}

/* -------------------- AB HIER FÜR QUIZ ---------------------------------------------------*/
html { 
  background: url(../../assets/quizbackground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#dragScriptContainer{	/* BIG DIV containing HTML needed for the entire script */
    width:45em;
    margin:0 auto;
    border:0px solid #000; /*Um zu sehen mache border auf 1px*/
    height: 35em;
    margin-top:20px;
    padding:3px;
    

}


#questionDiv {
    float:right;
    max-height:100%;
    width:15em;
    padding:10px;
    margin-left: 20%;

  }

#answerDiv{	
    float:left;
    height:100%;
    width:15em;
    padding:10px;
    margin-left: 20%;
}


@media only screen and (max-width: 600px) {
  #answerDiv {
    max-width: 40%;
    
  }
  #questionDiv {
    max-block-size: 30%;
  }
}

#answerDiv div,#dragContent div{	/* General rules for small divs - i.e. specific questions and answers */
    width:15em;
    height:20px;
    line-height:20px;		
    float:left;
    margin-right:2px;
    margin-bottom:2px;
    text-align:center;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
}




#questionDiv div{
    width:15em;
    height:20px;
    line-height:20px;		
    float:left;
    margin-right:2px;
    margin-bottom:2px;
    text-align:center;
    border-radius: 1em;
}

#dragContent div{	/* Drag content div - i.e. specific answers when they are beeing dragged */
    border:1px solid #000;
    
}

#answerDiv .dragDropSmallBox{	/* Small answer divs */
    border:1px solid #000;
    cursor:pointer;
    margin-bottom: 1em;

}

#questionDiv .dragDropSmallBox{	/* Small answer divs */
    border:1px solid #000;
    cursor:pointer;
    background-color:#fff; /*  blue background color */
    border-radius: 1em;
}

#questionDiv div div{	/* DIV after it has been dragged from right to left box */
    margin:0px;
    border:0px;
    padding:0px;
    background-color:#FFF;
}
#questionDiv .destinationBox{	/* Small empty boxes for the questions - i.e. where answers could be dragged */
    border:0px;
    border-radius: 1em;
    background-color:#e2eff9fa;
    width:15em;
    height:22px;
    margin-bottom: 1em;
    
    

    
}
#questionDiv .correctAnswer{	/* CSS indicating correct answer */
    background-color:#9cc99d;
    color:#fff;
    border:1px solid #000;
    border-radius: 1em;
}
#questionDiv .wrongAnswer{	/* CSS indicating wrong answer */
    background-color:#f17878;
    color:#fff;
    border:1px solid #000;
    border-radius: 1em;

}

#dragContent div{
    background-color:#FFF;
}

#questionDiv .dragContentOver{	/* Mouse over question boxes - i.e. indicating where dragged element will be appended if mouse button is relased */
    border:1px solid #628BC8;
    margin-bottom: 1em;

}

#answerDiv.dragContentOver{	/* Mouse over answer box - i.e. indicating where dragged element will be appended if mouse button is relased */
    border:0px solid #628BC8;
    margin-bottom: 1em;

}

/* NEVER CHANGE THIS */
#dragContent{
    position:absolute;
    display:none;
}	