*{
  font-family: 'Roboto', sans-serif;
  color: #484848;
}

body {
    background-color: #81B3FF;
    height: 100%;
  }
  
  .card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48;
    color: #484848;
    text-align: center;
  }
  
  .card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 6rem;
    background: #FFFFFF;
    box-shadow: 10px 7px 6px rgba(0, 0, 0, 0.25);
    border-radius: 102px;
    font-family: 'Roboto', sans-serif;
    height: 50%;
  }

  span{
    font-family: 'Roboto', sans-serif;
    font-size: 48;
    color: #484848;
  }
  
  .form-control {
    background: rgba(196, 196, 196, 0.5);
    mix-blend-mode: multiply;
    border-radius: 40px;
    text-align: center;
  }
  
  .form-control:focus {
    background: rgba(196, 196, 196, 0.33);
    mix-blend-mode: multiply;
  }
  

  #dreieck:hover {
    fill: #456fad;
  }
  
  span a {
    color: whitesmoke;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
     }

  #info{
      margin: 2rem;
      position: fixed;
      top: 0%;
      right: 0%;
  }

  .monitor_asset{
    z-index: -1;
  }

 