
  *{
    font-family: 'Roboto', sans-serif;
    color: #484848;
  }
  
body {
  background: #f3f3f3;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #484848;
  }



  .card-title {
    font-size: 48;
    text-align: center;
  }

  .card {
    position: relative;
    z-index: -1;
    background-color: #81B3FF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 116px;
    padding: 25px 35px 40px 35px;
  }

  .card-body {
    background-color: #81B3FF;
    border-radius: 98px;
  }

  a {
    color: whitesmoke;
    font-style: italic;
  }

  #info{
    margin: 2rem;
    float: left;
}
.footer{
  color: #484848;
}

.graubox{
  background: rgba(196, 196, 196, 0.5);
  mix-blend-mode: multiply;
  border-radius: 40px;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
}


.progress{
  border-radius: 40px !important;
}

.progress-bar{
  background-color: #628bc8;
  
}

#laptop_asset{
  position: relative;
  z-index: 1;
  bottom: 2em;

}

hr{
  height:4px;
  border-width:0;
  background-color:rgb(98, 139, 200, 0.7);
}

.container{
  overflow: hidden;
}